/* body { 
    background-color: black;
}
#title {
    background-color: #663399;
    color: #ffff33;
    margin: auto;
    width: 75%;
    border: 3px solid #ffff33;
    padding: 10px;
} */
@font-face {
    font-family: 'CustomFont';
    src: url('fonts/LiberStructRegular-ARdoA.ttf') format('truetype');
    /* Optional: font-weight or font-style here */
  }
#titial{
    font-family: CustomFont, sans-serif;
    font-size: 500%;
    display: flex;
    margin-left: 2%;
}
#logo{
    width: 5%;
    display: flex;
}
.headder{
    display: flex;
    align-items: center;
    margin-top: -2%;
    width: 100%;
   }