  body { 
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease; 
    overflow-y: scroll;
    margin: 0;           
    min-height: 100vh;   
  }
  @font-face {
    font-family: 'bigFont';
    src: url("/assets/fonts/LiberStructRegular-ARdoA.ttf") format('truetype');
  }
@font-face {
    font-family: 'smallFont';
    src: url("/assets/fonts/AirAmericanaBoldItalic-3ln18.ttf") format('truetype');
  }
@font-face {
  font-family: 'gameFont';
  src: url("/assets/fonts/LiberStructRegular-ARdoA.ttf") format('truetype'  );
}
  .page-container{
    min-height: 500vh;
    background-color: antiquewhite;
    transition: background-color 1s ease;
  }
  body.dark-mode .page-container {
    background-color: #202020;
    transition: background-color 1s ease;
  }
  .content-wrap{
  min-height: 500vh; 
  }
  .nave{
    margin-top: 88vh;
    top: 0; 
    bottom: 0;
    z-index: 10;
    position: sticky;
    background-color: #808080;
    /* background: linear-gradient(to right, #ffee00, #800080); */
    background-size: 300% 300%;
    background-position: left center;
    transition: background-position 1s ease;
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    overflow: hidden;
    align-items: center;
  }
  .naveB{
    margin-top: 0vh;
    top: 0; 
    bottom: 0;
    z-index: 10;
    position: sticky;
    background-color: #808080;
    /* background: linear-gradient(to right, #ffee00, #800080); */
    background-size: 300% 300%;
    background-position: left center;
    transition: background-position 1s ease;
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    overflow: hidden;
    align-items: center;
  }
  /* body.dark-mode .nave{
    background-position: right center;
    transition: background-position 1s ease;
  } */
  footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffcc00;
    width: 100%;
    height: 35vh;
    gap: 60vw;
    bottom: 0; 
  }

  #init-IMG{
    aspect-ratio: 1280/710;
    max-width: 60vw;
    max-height: 100vh;
    height: auto;
    width: 60vw;
    top: 0vh;
    border: solid #ffcc00 .4vw;
    margin-left: .5vw;
  } 
  #init-container{
    display: flex;
    flex-direction: row;
    align-items: center;
   background: linear-gradient(to top right, #f095fa, #ffee00);
   background-size: 400% 200%;
   background-position: right top;
    transition: background-position 1s ease;
    
/*     
    background-repeat: no-repeat; 
    background-size: cover;       
    background-position: center; */
    /* background-image: url("/assets/images/40b1e677-b6cf-421d-80a9-6ba16823e167 (2).jpg"); */
    margin-top: -100vh;
    height: 88vh;
    width: 100%;

  }
  body.dark-mode #init-container{
    background-position: left center;
    transition: background-position 1s ease;
  }
  #introo-message{
  
    margin-left: .6vw;
    height: 85vh;
    width: 34.3vw;
    border-radius: 25px;
    max-height: 100vh;
    padding: 1vw;
    overflow: auto;


  scrollbar-width: thin;    
  -ms-overflow-style: -ms-autohiding-scrollbar;              /* "auto" | "thin" | "none" */
  scrollbar-color: rgba(100,100,100,0.6) transparent;
  }
  #introo-message h1{
    font-family: gameFont, sans-serif;
  }
#introo-message::-webkit-scrollbar {
  width: 10px;   /* vertical */
}

#introo-message::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.6);
  border-radius: 10px;
}

#introo-message::-webkit-scrollbar-track {
  background: transparent;
}



  #biuton{
    display: flex;
    flex-direction: row;
    width: fit-content;
    /* justify-self: center;
    align-self: center; */
    justify-content: center;
    align-items: center;
    height: 15vh;
    /* margin-left: 12.8vw; */

  }
  
  .nav-item{
    display: inline-grid;
    font-size: 2rem;
    font-family: smallFont, sans-serif;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 10vw;
    color: black;
    clip-path: polygon(
    0% 0%,      /* top-left */
    98% 0%,     /* top before arrow tip */
    100% 50%,   /* right arrow tip */
    98% 100%,   /* bottom before arrow tip */
    0% 100%,
    2% 50% 
  );
  }
  .nav-item:hover{
    background-color: #800080;
    color: #f1f1f1;
    transition: background-color 0.3s ease;
    transform: scale(1.06);
    transition: transform 0.3s ease;
  }
  #darkmode{
    position: relative;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: auto;
    transform: rotate(0deg);
    transition: transform 1s ease;
    aspect-ratio: 1/1;
  }
 #dmode-qrap{
  justify-content: center;
  align-items: center;
  color: #00000000;
 }

.secong{
  display: inline-grid;
  font-size: 2rem;
  font-family: smallFont, sans-serif;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width:10vw;
    color: black;
    clip-path: polygon(
    0% 0%,      /* top-left */
    98% 0%,     /* top before arrow tip */
    100% 50%,   /* right arrow tip */
    98% 100%,   /* bottom before arrow tip */
    0% 100%,    /* bottom-left */
    2% 50%     /* left notch inward */
    );
  margin-left: -.2vw;
}
.secong:hover{
  background-color: #800080;
  color: #f1f1f1;
  transition: background-color 0.3s ease;
  transform: scale(1.06);
  transition: transform 0.3s ease;
}
#homeb{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#homee{
  width: 23.45vw;
  font-family: bigFont, sans-serif;
  font-size: 2.7vw;
}
#homeb:hover{
  cursor: pointer;
  color: #f1f1f1;
  transition: transform 0.3s ease;
}
#homeb:hover #logo{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
#homeb:hover #homee{
  transform: scale(1.03);
  transition: transform 0.3s ease;
}
#logo{
  aspect-ratio: 1/1;
  height: auto;
  width: 6vw;
}
.endnav{
  display: inline-grid;
  font-size: 2rem;
  font-family: smallFont, sans-serif;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width:10vw;
    color: black;
    clip-path: polygon(
    0% 0%,      /* top-left */
    100% 0%,     /* top before arrow tip */
    100% 50%,   /* right arrow tip */
    100% 100%,   /* bottom before arrow tip */
    0% 100%,    /* bottom-left */
    2% 50%     /* left notch inward */
    );
  margin-left: -.2vw;
}
.endnav:hover{
  background-color: #800080;
  color: #f1f1f1;
  transition: background-color 0.3s ease;
    transform: scale(1.06);
  transition: transform 0.3s ease;
}

.donate-button{
  display: inline-grid;
  font-size: 2rem;
  font-family: smallFont, sans-serif;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width:20vw;
    color: black;
    /* background-color: #ffcc00; */
  background: linear-gradient(
    to right,
    #00b521 0%,        /* end of soft blend */
    #ffcc00 100%         /* solid blue end */
  );
  background-size: 800% 100%;
  background-position: right center;
  transition: background-position .5s ease-in-out;
    border-radius: 15px;
    margin-top: 35vh;
    cursor: pointer;
    margin-left: 7vw;
}
.donate-button:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
  color: white;
  background-position: left center; /* wipes smoothly */
}

#overlay{
  position: absolute;
    aspect-ratio: 1280/710;
    max-width: 60vw;
    max-height: 100vh;
    height: auto;
    width: 60vw;
    margin-left: .5vw;

  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); /* Semi-transparent overlay */
  z-index: 1; /* Ensure the overlay is above other content */
}
.Who{
  width: 100%;
  height: 70vh;
  margin-top:70vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 2.5vw;
}
#who-img{
  width: 40%;
  height: 60vh;
  background-color: lightblue;
  margin-left: 2vw;
  margin-top: 5vh;
  transform: translateX(-110%);
  transition: transform 1s ease;
}
#who-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.4rem;
}
#who-img.visible{
  transform: translateX(0);
  transition: transform 1s ease;
}
#who-description{
  position: relative;
  z-index: 0;
  width: 50vw;
  height: fit-content;
  padding-left: 1%;padding-right: 1%;
  background-color: gold;
  margin-left: 0vw;
  margin-top: 5vh;
    will-change: transform;
  transform: translateX(110%);
  transition: background-color 1s ease,transform 2s ease;
}
#who-description.visible{
  transform: translateX(0);
  transition: transform 1s ease;
}
#who-description, #what-description, #volunteer-description, #histpu-description{
  border-radius: 1.4rem;
}
.What{
  width: 100%;
  height: 70vh;
  margin-top: 40vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 2.5vw;
}
#what-img{
  width: 40%;
  height: 60vh;
  background-color: lightcoral;
  margin-left: 0vw;
  margin-top: 5vh;
  transform: translateX(110%);
  transition: transform 1s ease;
}
#what-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.4rem;
}
#what-img.visible{
  transform: translateX(0%);
  transition: transform 1s ease;
}
#what-description{
  position: relative;
  z-index: 0;
  width: 50vw;
  height: fit-content;
  background-color: lightyellow;
  transition: background-color 1s ease;
  margin-left: 2vw;
  margin-top: 5vh;
  padding-left: 1%;padding-right: 1%;
  transform: translateX(-110%);
  transition: transform 1s ease;
}
#what-description h1, #who-description h1{
  font-size: 2rem;
  font-family: gameFont, sans-serif;
}
#what-description p, #who-description p{
  font-size: 1.5rem;
  font-family: smallFont, sans-serif;
}
#what-description.visible{
  transform: translateX(0%);
  transition: transform 1s ease;
}
.volunteer{
  width: 100%;
  height: fit-content;
  margin-top: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 5vw;
  padding-top: 3%; padding-bottom: 3%;
}
#volunteer-description{
  position: relative;
  z-index: 0;
  max-width: 80%;
  font-size: 1.5rem;
  width: fit-content;
  height: auto;
  background-color: gold;
  transition: background-color 1s ease;
  margin-left: 0vw;
  margin-top: 0vh;
  transform: translateY(110%);
  transition: transform 1s ease;
  padding: 1%;
}
#volunteer-description.visible{
  transform: translateY(0%);
  transition: transform 1s ease;
 
}
.histpu{
  width: 100%;
  height: fit-content;
  transition: background-color 1s ease;
  margin-top: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 5vw;
  padding-top: 3%; padding-bottom: 3%;
}
#histpu-description{
  padding: 1%;
  position: relative;
  z-index: 0;
  max-width: 80%;
  font-size: 1.5rem;
  width: fit-content;
  height: auto;
  transform: translateX(-120%);
  transition: transform 1s ease;
  background-color: gold;
  margin-left: 0vw;
  margin-top: 0vh;
  transition: background-color 1s ease;
}
#histpu-description.visible{
  transform: translateX(0%);
  transition: transform 1s ease;
 
}

body.dark-mode #what-description, body.dark-mode #who-description, body.dark-mode #volunteer-description, body.dark-mode #histpu-description{
  background-color: darkgray;
}
body #what-description, body #who-description, body #volunteer-description, body #histpu-description{
  transition: background-color 1s ease;
}
#footer-logo{
  aspect-ratio: 1/1;
  height: auto;
  width: 12vw;
  
}
.socials{
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: center;
  height: fit-content;
}
.footer-content{
  
  display: flex;
  margin-left: 1vw;
  width: 25vw;
  flex-direction: column;
  justify-content: center;
}
#fConta{
  display: flex;
  flex-direction: column;
  height: 23vh;
  align-items: center;
  justify-content: center;
}
.footer-item{
  font-family: smallFont, sans-serif;
  color: black;
  font-size: 1.2rem;
  margin-top: -3vh;
}
#thingy{
  font-family: smallFont, sans-serif;
  color: black;
  font-size: 1.5rem;
}
.social-icon{
  aspect-ratio: 1/1;
  height: auto;
  width: 3vw;
}
body.dark-mode #darkmode{
  transform: rotate(180deg);
  transition: transform 1s ease;
}