body { 
  transition: background-color 0.3s ease; 
}

@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/LiberStructRegular-ARdoA.ttf') format('truetype');
    /* Optional: font-weight or font-style here */
  }
  
@font-face {
  font-family: 'anotherFont';
  src: url('../assets/fonts/AirAmericanaBoldItalic-3ln18.ttf') format('truetype');
  /* Optional: font-weight or font-style here */
}
  .headder {
    display: flex;
    align-items: center;   /* vertically center img + h2 */
    margin-top: -1%;
    margin-left: -1%;
    width: 99.45vw;
    height: 70%;
    /* background-color: #800080; */
    /* background: linear-gradient(90deg, #FFA500, #800080); */
    background: linear-gradient(
      to right,
      #FFA500 0%,         /* Purple solid up to 20% */
      #800080 100%
      /* Gold starts fading from 20% and solid by 80% */
    );
    
  }
  
  
  #titial {
    font-family: CustomFont, sans-serif;
    font-size: 200%;
    margin-left: 8.5%;
    
    max-width: 100%;
    max-height: 100%;
    background-color: #800080; 
    /* background: linear-gradient(5deg, #800080 0%,#800080 30%, #FFD700 80%, #FFD700 100%); purple to gold */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .homeredir {
    display: inline-flex;
    text-decoration: none;
    margin-right: -29.8%;
    
  }
  
  .homeredir img {
    display: block;
    max-width: 12%; 
    max-height: 12%; 
    margin-right: 0%;
    margin-left:4% ;
    padding-right: 0%;/* or use px if you want precise control */
  }

  .navbar{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;   
    position: absolute;
    margin-top: -3.5%;
    margin-left: 60%;
  }

  .navbar a{
    font-family: anotherFont, sans-serif;
    
    color: #FFA500;
    font-size: 1.5rem;
  }
.imSlide{
  width: 60%;
  height: auto;
 margin-left: 20%;
 margin-top: 3%;
}
.mySlides {
  width: 100%;
  height: auto;
}
.imgSelector {
  
  position: absolute; 
  margin-top: -10%;
  width: 6%;
  height: 13%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
    border-radius: 50%;
  /* padding: 10px; */
  cursor: pointer;
  font-size: 240%;
}
#advance {
  margin-left: 1%;
}

#retreat {
  margin-left: 52.4%;
}
.dMode{
  position: absolute;
  width: 3%;
  height: auto;
  margin-top: -40%;
  margin-left: 95%;
  z-index: 1;
}
.dMode img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.rotated {
  transform: rotate(180deg);
}
.mission {
  position: absolute;
  width: 40%;
  height: auto;
  /* background-color: #800080; */
  top: 100%;
  left: 2%;
  padding: 0%;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 140%;
    transition: background-color 0.3s ease;
}

.missionImg img{
  width: 100%;
  height: auto;
}
.missionImg{
  position: absolute;
  width: 40%;
  height: auto;
  top: 100%;
  left: 55%;
  padding: 0%;
  text-align: center;
}